*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height : 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 111px;
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    background-size:cover;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid whitesmoke;
}

/* BOX 2 addr*/

.addr_1{
    color: #cccccc;
    font-size: 0.70rem;
    margin: 0 15px;
}
.addr_2{
    color: #ffffff;
    font-size: 0.85rem;
    margin: 0 5px;
}
.add_icon{
    display: flex;
    align-items: center;
}

/*BOX 3 SEARCH*/
.nav_search{
    display: flex;
    background-color: #febd68;
    width: 600px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search_select{
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width: 55px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;        
    font-size: 1.2rem;
    color: #0f1111;
}

/* BOX 4*/